.env
.env.example
runtime/
node_modules/
vendor/
*.log
.DS_Store
Thumbs.db
wwwroot*.zip
public/uploads/*
!public/uploads/.gitkeep
public/static/uploads/*
!public/static/uploads/.gitkeep
.idea/
.vscode/
*.swp
*.swo
*~