<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{$name}</title>
    <meta name="keywords" content="{$name}">
    <meta name="description" content="{$name},{$subtitle}">
    <meta name="author" content="{$name}">
    <meta name="copyright" content="{$name}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no minimal-ui">
    {if isset($config.icon) && $config.icon != ''}
    <link rel="icon" href="{$config.icon}" type="image/x-icon" />
    <link rel="shortcut icon" href="{$config.icon}" />
    {else}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {/if}
    <meta name="robots" content="index,follow">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    
    <!-- 引入原系统的CSS -->
    <link rel="stylesheet" type="text/css" href="/old/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/old/assets/mesg/dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="/old/assets/css/jquery.fancybox.min.css">
    
    <!-- 自定义样式 -->
    <style>
    .footer {
        text-align: center;
        padding: 20px 0;
        color: #666;
    }
    .footer-text {
        cursor: pointer;
        color: #007bff;
    }
    </style>
</head>
<body class="{$theme ?? ''}">
    <div class="centent">
        <div class="sh-main">
            {__CONTENT__}
        </div>
    </div>

    <!-- 版权信息 -->
    <div class="sh-copyright">
        <span class="sh-copyright-banquan">{$copyright}</span>
        {if $beian != ''}
            &nbsp;<span class="sh-copyright-banquan">{$beian}</span>
        {/if}
    </div>

    <!-- 引入原系统的JS -->
    <script type="text/javascript" src="/old/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/old/assets/mesg/dist/js/sh-noytf.js"></script>
    <script type="text/javascript" src="/old/assets/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/old/assets/js/index.js"></script>
    
    <!-- 全局加载和提示效果 -->
    <script type="text/javascript" src="/static/js/modal.js"></script>
    <script type="text/javascript" src="/static/js/global-loading.js"></script>
</body>
</html>
